<div class="container-fluid custom-container">
    <div class="left">
      <img src="./assets/images/about4.webp" alt="Image" />
    </div>
    <div class="right">
      <p>Welcome to Cake n Bake, where the magic of home baking comes to life in every delightful creation. Nestled within the heart of our cozy kitchen is a passionate and creative soul, our baking virtuoso. She is the heartbeat behind every oven-kissed masterpiece that graces our digital shelves. With flour-dusted dreams and a whisk-wielding spirit, she embarked on a journey to turn simple ingredients into poetry, crafting confections that dance upon the taste buds</p>
    </div>
  </div>
  
  <div class="container-fluid custom-container">
    <div class="left">
        <p>In the rhythmic hum of the mixer and the sweet symphony of measuring spoons, our home baking girl weaves stories with flour, sugar, and love. Her hands, guided by a sprinkle of imagination, transform the ordinary into the extraordinary. Cake n Bake is more than just a name; it's a testament to the dedication, passion, and sweet dreams that fill our kitchen. Join us in savoring the artistry and warmth that emanates from each creation, as we invite you to indulge in the sweet tales spun by our home baking enchantress.</p>
    </div>
    <div class="right">
      <img src="./assets/images/about1.jpg" alt="Image" />
    </div>
  </div>
  