<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/home" class="brand">Tn-76 Cake'N'Bake</a>
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
      <a routerLink="/our" routerLinkActive="active" class="nav-link">Our Cakes</a>
      <a routerLink="/cart" routerLinkActive="active" class="nav-link">
        <img src="./assets/images/cartt.png" alt="Cart" class="cart-icon">
      
      </a>
      <a routerLink="/cart" routerLinkActive="active" class="nav-link">Cart</a>
    </div>
  </div>
</nav>
