/* Add any custom styles for the carousel here */

.page-content {
    margin-top: 20px;
  }
  
  /* Optional: Adjust the carousel controls */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 30px;
    width: 30px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the background color as needed */
    border-radius: 50%;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the hover background color as needed */
  }
  