/* Add your custom styles for the carousel here */

.page-content {
  max-width: 100%; /* Change to 100% to make the container full width */
  margin: 0 auto;
  overflow: hidden; /* Prevent horizontal scroll on small screens */
}

ngb-carousel {
  margin-top: 20px;
}

ngb-carousel img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  position: relative;
}

.ngb-carousel-inner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Optional: Add styles for carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333; /* Control button background color */
  border-radius: 50%;
  color: white; /* Control button icon color */
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
}
